.DS_Store
__pycache__
venv_newsews
.vscode
.Rhistory
test*.py
literature/*
tex/*
!tex/ma_thesis.pdf
!tex/sec[0-9]*.tex
config/credentials.py
config/environvars.py
config/environvars.R
notebooks/
Datenfluss.pdf